<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glidedemo">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--    相机-->

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />


    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <!--    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND" />-->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />-->
    <!--    <uses-permission android:name="android.permission.NFC" />-->
    <!--    <uses-permission android:name="android.permission.TRANSMIT_IR" />-->
    <uses-permission android:name="android.permission.UWB_RANGING" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <!--    外部提供的自定义权限-->
    <uses-permission android:name="zero.permission.main" />

    <!--    提供给外部的自定义权限-->
    <permission android:name="aa.permission.aa" />

    <!--网络权限 appsflyer-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.example.glidedemo.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent,android:dataExtractionRules,android:allowBackup"
        tools:targetApi="31">
        <service
            android:name="com.example.glidedemo.foreground.services.CameraService"
            android:exported="false"
            android:foregroundServiceType="camera" />

        <service
            android:name="com.example.glidedemo.foreground.services.SpecialUseService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name="com.example.glidedemo.foreground.services.ConnectedDeviceService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />


        <service
            android:name="com.example.glidedemo.foreground.services.HealthService"
            android:exported="false"
            android:foregroundServiceType="health" />


        <activity
            android:name="com.example.glidedemo.activity.LedClockActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="aa.permission.aa"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.aa.intent.action.aa" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.OverlayApply">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name="com.example.glidedemo.activity.SecondActivity" />
        <activity android:name="com.example.glidedemo.activity.ThreeActivity" />

        <receiver
            android:name="com.example.glidedemo.utils.SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.example.glidedemo.activity.TelephonyActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.glidedemo.activity.MediaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.LikeActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.glidedemo.activity.RoomActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.ListAdapterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.MediaListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.PhotoDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.VaultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.BackgroundCameraActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.glidedemo.activity.PermissionSettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.CeilingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.PermissionGuideActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:theme="@style/permission_style" />
        <activity
            android:name="com.example.glidedemo.activity.GuideViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.glidedemo.activity.TabLayoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />

        <!--            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"-->
        <activity
            android:name="com.example.glidedemo.activity.FullscreenNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.glidedemo.activity.TransparentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="kjv.bible.kingjamesbible.notify"
            android:theme="@style/Theme.OverlayApply" />

        <activity
            android:name="com.example.glidedemo.activity.ThemeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.ImageClassificationInterpreterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.glidedemo.activity.ImageClassificationActivity"
            android:theme="@style/AppTheme" />

    </application>


</manifest>